<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://kit.fontawesome.com/8b528c53f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8b528c53f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="/dark-mode-switch.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header-mobile">
        <div class="mobile-header-left">
            <a class="hamburger-menu">
                <img src="/img/menu6.png" alt="">
            </a>
            <a href="/" target="_self">
                <img id="amblem" src="/img/9gag2.png" alt="">
            </a>
        </div>
        <div class="mobile-header-right">
            <div class="mobile-dark-mode">
                <img src="/img/moon3.png" alt="">
            </div>
            <div class="mobile-search">
                <img src="/img/search3.png" alt="">
            </div>
            <div class="mobile-account">
                <a href="javascript:dropdownMenu()" class="dropbtn"><img src="/img/account.png" alt=""></a>
            </div>
            <div id=#dropdown-menu class="popup-menu user">
                <ul>
                    <li><a style="color: black;" href="/profil">Profilim</a></li>
                    <li><a style="color: black;" href="/settings">Ayarlar</a></li>
                    <li><a style="color: black;" href="index.html">Çıkış</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="top-nav">
        <div class="nav-menu">
            <div id="nav-left">
                <a href="/" target="_self"><img src="/img/9gag.png" id="amblem"></img>
                   

            </div>
            <div id="nav-right">
                <a onclick="darkMode()" href="#"><img src="/img/moon.png" alt=""></a>

                <a href="/users/register" class="btn btn-success" id="header-sign-up"><i
                        class="fas fa-user-plus"></i>Sign
                    up</a>
                <a href="/users/login" class="btn btn-primary" id="header-sign-in"><i
                        class="fas fa-sign-in-alt"></i>Sign
                    in</a>
            </div>
        </div>
    </div>

    <form action="/admin/login" method="POST" style="position: relative; top:100px">
        <div>
            

            <div class="text-center">
                <h4 class="modal-title w-100 font-weight-bold" style="color: black;">Admin Login</h4>

            </div>
            <div class="modal-body " style="position:relative;left:30%">
                <div class="md-form">
                    <input type="text" name="userName" placeholder="Kullanıcı Adı" id="KullanıcıAdı"
                        class="form-control validate" required="required">
                </div>

                <div class="md-form Sifre-form">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password" name="password" placeholder="Şifre" required="required" id="Şifre"
                        class="form-control validate">
                </div>

            </div>
            <div class=" d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </div>
    </form>

</body>

</html>